.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modalContent > input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modalContent > button {
  width: 80%;
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modalContent > button:hover {
  background-color: #ddd;
}

.modalContent > label {
  margin: 10px;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  background-color: #2eeaff;
  border-radius: 20px;
}
