.container {
  position: absolute;
  z-index: 99;
  display: grid;
  max-width: 200px;
  background-color: #fff8;
  border: solid 1px #0008;
}

.container > p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: small;
  color: #000;
}

.stop {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 10px;
  color: #fff;
  border-radius: 10px;
}

.stop:active {
  transform: scale(0.9);
}

.stop:hover::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #fff8;
  border-radius: 10px;
}

.trafficRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border: solid #0008 1px;
}

.traffic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.trafficRow > p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: small;
  font-weight: bold;
  color: #000;
}
