.panel {
  height: calc(92vmin / 16 * 9);
  aspect-ratio: 2 / 3;
  padding: 4svmin;
  background-color: #fff3;
  border: solid 0.4svmin #fff2;
  border-radius: 2svmin;
  backdrop-filter: blur(0.8svmin);
}

.panel:first-child {
  transform: rotateY(30deg);
  transform-origin: 100% 50%;
}

.panel:last-child {
  transform: rotateY(-30deg);
  transform-origin: 0% 50%;
}

.panel > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3svmin;
  font-size: 2svmin;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.4svmin #000;
}

.panel > p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3svmin;
  margin: 0;
  font-size: 1.6svmin;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.4svmin #000;
}

.ranking {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  height: calc(100% - 5svmin);
  margin: 2svmin 0 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.4svmin #000;
}

.ranking > div {
  height: 100%;
  font-size: 1.2svmin;
}

.ranking > div > div {
  height: 50%;
}

.ranking > div > div:first-child::first-letter {
  font-size: 2.4svmin;
}

.ranking > div:nth-child(1) > div:first-child::first-letter {
  color: transparent;
  text-shadow: none;
  background-image: linear-gradient(45deg, #ebd300, #eb9900, #ffc559, #af8943);
  background-clip: text;
}

.ranking > div:nth-child(2) > div:first-child::first-letter {
  color: transparent;
  text-shadow: none;
  background-image: linear-gradient(45deg, #949ba7, #bad1fa);
  background-clip: text;
}

.ranking > div:nth-child(3) > div:first-child::first-letter {
  color: transparent;
  text-shadow: none;
  background-image: linear-gradient(45deg, #a77044, #f7c46c);
  background-clip: text;
}
