.arrowButton {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 28px;
  height: 64px;
  line-height: 64px;
  margin: 0 5px;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
