.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.stick {
  position: 'absolute';
  flex-grow: 0;
  flex-shrink: 0;
  height: 70%;
  aspect-ratio: 1;
  cursor: move;
  border: 0;
  border-radius: 50%;
  transition-timing-function: ease;
  transition-duration: 0.1s;
  transition-property: transform;
}
