.box-container {
  display: flex;
  position: relative;
  top: 350px;
  margin-left: 10%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: 400px;
  position: relative;
}

.box {
  opacity: 0.75;
  position: absolute;
  border-radius: 50%;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d3d3d3;
}

.joystick {
  position: absolute;
  border-radius: 25%;
  background-color: #474747;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.arrow1 {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #696969;
  position: absolute;
  top: 15%;
  right: 46%;
  transform: translateY(-50%);
}

.arrow2 {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid #696969;
  position: absolute;
  top: 85%;
  right: 45%;
  transform: translateY(-50%);
}

.arrow3 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #696969;
  position: absolute;
  top: 50%;
  right: 77%;
  transform: translateY(-50%);
}

.arrow4 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #696969;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.circle {
  top: 105%;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
}

.switch-button {
  padding-top: 35px;
  padding-left: 50%;
}
