.container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-image: url('~/public/images/gradius_genesis.png');
  background-size: cover;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2svmin;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  overflow: hidden;
  background-color: #4c627797;
  border: solid 0.4svmin #c3d0da;
  border-radius: 4svmin;
  backdrop-filter: blur(2svmin);
}

.title {
  position: relative;
  z-index: 2;
  font-family: Audiowide, cursive;
  font-size: 6rem;
  color: transparent;
  pointer-events: none;
  touch-action: none;
  user-select: none;
  background-image: linear-gradient(135deg, rgb(2 13 171), #3a0070);
  filter: drop-shadow(0 0 0.4rem #fff);
  background-clip: text;
}

.text {
  position: relative;
  z-index: 2;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 0 0 0.2rem #000;
  pointer-events: none;
  touch-action: none;
  user-select: none;
}

.input {
  position: relative;
  z-index: 2;
  display: block;
  padding: 0.4rem 0.8rem;
  clip-path: polygon(
    0 0.2rem,
    0.2rem 0.2rem,
    0.2rem 0,
    calc(100% - 0.2rem) 0,
    calc(100% - 0.2rem) 0.2rem,
    100% 0.2rem,
    100% calc(100% - 0.2rem),
    calc(100% - 0.2rem) calc(100% - 0.2rem),
    calc(100% - 0.2rem) 100%,
    0.2rem 100%,
    0.2rem calc(100% - 0.2rem),
    0 calc(100% - 0.2rem)
  );
  font-family: 'DotGothic16', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  border: 0;
}

.button {
  position: relative;
  z-index: 2;
  display: block;
  padding: 0.4rem 0.8rem;
  font-family: 'DotGothic16', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(135deg, #2c98eb, #3a6aee);
  border: 0;
  box-shadow: 0.2rem 0.2rem 0 #222;
}

.button:active {
  box-shadow: 0 0 0 #222;
  transform: translate(0.1rem, 0.1rem);
}

.spaceship {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 80svmin;
  pointer-events: none;
  touch-action: none;
  user-select: none;
  filter: blur(1svmin);
  opacity: 0.4;
  transform: rotate(-30deg);
}

.spaceship > img {
  display: block;
  width: 100%;
}
