.container {
  display: flex;
  gap: 4svmin;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100lvh;
  overflow: hidden;
  background-image: url('~/public/images/gradius_genesis.png');
  background-size: cover;
  perspective: 200dvmax;
}

.titlecard {
  position: relative;
  display: grid;
  display: none;
  flex-shrink: 0;
  grid-template-rows: repeat(6, 1fr);
  align-items: end;
  justify-items: center;
  width: 92svmin;
  aspect-ratio: 16 / 9;
  background-color: #fff2;
  border: solid 0.4svmin #fff2;
  border-radius: 2svmin;
  backdrop-filter: blur(0.8svmin);
}

.alertcard {
  position: relative;
  z-index: 3;
  display: grid;
  flex-shrink: 0;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  width: 60svmin;
  height: 100svmin;
  padding-top: 10svmin;
  background-color: rgb(255 255 255 / 29.8%);
  border: solid 0.4svmin #fff2;
  border-radius: 2svmin;
  backdrop-filter: blur(0.8svmin);
}

.smartphone {
  position: relative;
  width: 25svmin;
  height: 50svmin;
  overflow: hidden;
  border: 0.3svmin solid #000;
  border-radius: 2svmin;
  box-shadow: 0 0 2svmin rgb(0 0 0 / 50%);
  animation: rotate-animation 4s infinite;
}

.screen {
  position: absolute;
  top: 25svmin;
  left: 50%;
  width: 23svmin;
  height: 40svmin;
  background-color: #00000043;
  border: 0.3svmin solid #000;
  transform: translate(-50%, -50%);
}

.smartPhoneButton {
  position: absolute;
  bottom: 1.5svmin;
  left: 50%;
  width: 4svmin;
  height: 1svmin;
  border: 0.3svmin solid #000;
  border-radius: 1svmin;
  transform: translateX(-50%);
}

.speaker {
  position: absolute;
  top: 2svmin;
  left: 50%;
  width: 15svmin;
  height: 1svmin;
  border: 0.3svmin solid #000;
  border-radius: 1svmin;
  transform: translateX(-50%);
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  80%,
  30% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.alertcard > p {
  margin-top: 5svmin;
  font-size: 5svmin;
  font-weight: bold;
  color: #fff;
}

.title {
  grid-row: 2;
  height: 100%;
  margin: 0 auto;
  font-size: calc(92svmin / 16 * 9 / 7);
  line-height: calc(92svmin / 16 * 9 / 6);
  color: transparent;
  text-align: center;
  background-image: linear-gradient(135deg, #fff, #c7daf7);
  background-clip: text;
}

.links {
  display: contents;
}

.input {
  display: block;
  grid-row: 4;
  width: 64%;
  height: 80%;
  padding: 0 1svmin;
  font-size: 1.6svmin;
  color: #fff;
  background-color: #0000;
  border: solid 0.2svmin #fff;
  border-radius: 1svmin;
}

.input:focus {
  outline: none;
}

.button {
  display: block;
  grid-row: 5;
  width: 24%;
  height: 64%;
  font-size: 1.4svmin;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(135deg, #2965ce, #74d3f2);
  background-size: 200%;
  border: 0;
  border-radius: 1svmin;
  transition-timing-function: ease-in-out, ease-in, ease-in-out;
  transition-duration: 0.2s, 0.1s, 0.2s;
  transition-property: background-position, transform, opacity;
}

.button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.button:hover:not([disabled]) {
  background-position: right;
}

.button:active:not([disabled]) {
  transform: scale(0.95);
}

.panel {
  height: calc(92vmin / 16 * 9);
  aspect-ratio: 2 / 3;
  padding: 4svmin;
  background-color: #fff3;
  border: solid 0.4svmin #fff2;
  border-radius: 2svmin;
  backdrop-filter: blur(0.8svmin);
}

.panel:first-child {
  transform: rotateY(30deg);
  transform-origin: 100% 50%;
}

.panel:last-child {
  transform: rotateY(-30deg);
  transform-origin: 0% 50%;
}

.panel > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3svmin;
  font-size: 2svmin;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.4svmin #000;
}

.panel > p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3svmin;
  margin: 0;
  font-size: 1.6svmin;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.4svmin #000;
}

.players {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  height: calc(100% - 8svmin);
  margin: 2svmin 0 0;
  font-size: 1.2svmin;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 0.4svmin #000;
}

.players > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6svmin;
}

.ranking {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  height: calc(100% - 5svmin);
  margin: 2svmin 0 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.4svmin #000;
}

.ranking > div {
  height: 100%;
  font-size: 1.2svmin;
}

.ranking > div > div {
  height: 50%;
}

.ranking > div > div:first-child::first-letter {
  font-size: 2.4svmin;
}

.ranking > div:nth-child(1) > div:first-child::first-letter {
  color: transparent;
  text-shadow: none;
  background-image: linear-gradient(45deg, #ebd300, #eb9900, #ffc559, #af8943);
  background-clip: text;
}

.ranking > div:nth-child(2) > div:first-child::first-letter {
  color: transparent;
  text-shadow: none;
  background-image: linear-gradient(45deg, #949ba7, #bad1fa);
  background-clip: text;
}

.ranking > div:nth-child(3) > div:first-child::first-letter {
  color: transparent;
  text-shadow: none;
  background-image: linear-gradient(45deg, #a77044, #f7c46c);
  background-clip: text;
}

.container::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: '';
  background: rgb(0 0 0 / 50%);
  backdrop-filter: blur(5px);
}
