.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.buttom {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
