.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.container > div {
  width: 88svmin;
}

.text {
  margin-bottom: 1rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons > button {
  width: 8svmin;
  aspect-ratio: 16 / 9;
}
