.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aqua;
}
