.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up_down_button_board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left_right_button_board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.up_button {
  font-size: 20px;
  color: black;
  width: 50px;
  height: 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down_button {
  font-size: 20px;
  color: black;
  width: 50px;
  height: 50px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_button {
  font-size: 20px;
  color: black;
  width: 50px;
  height: 50px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_button {
  font-size: 20px;
  color: black;
  width: 50px;
  height: 50px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_button {
  font-size: 20px;
  color: black;
  width: 110px;
  height: 50px;
  background-color: rgb(5, 243, 231);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoot_button {
  font-size: 20px;
  color: black;
  width: 110px;
  height: 50px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
