.base {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.joystick {
  margin: 30px;
  width: 130px;
  height: 130px;
  background-color: lightgray;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.stick {
  margin: 30px;
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 50%;
}

.buttonA {
  margin: 50px;
  background-color: #fff20a;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  -webkit-box-shadow: 0 5px 0 #e6d900;
  box-shadow: 0 5px 0 #e6d900;
}

.buttonA:active {
  background-color: #fff20a;
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e6d900;
  box-shadow: 0 2px 0 #e6d900;
}
