.base {
  display: flex;
  flex-direction: row;
}
.joystick {
  width: 130px;
  height: 130px;
  background-color: lightgray;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.stick {
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 50%;
}
