.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5vmin;
}

.joystick,
.button {
  width: 10vmin; /* 幅と高さを同じ値に設定 */
  height: 10vmin; /* 幅と高さを同じ値に設定 */
  margin: 10vmin;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  border: 5px solid #bbb;
  transition: transform 0.2s ease-in-out;
}
