.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(139, 29, 29);
  /* padding-top: 10%; */
  height: auto;
}
.board {
  padding-left: 5%;
  display: flex;
  align-items: center;
  height: 75vh;
  width: 100vw;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* gap: 5vh; */
  background-color: rgb(235, 221, 184);
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
  border-radius: 50px;
}
.items {
  display: grid; /*gridについては調べてください*/
  width: 60vh;
  height: 60vh;
  grid-template-columns: 1fr 1fr 1fr; /*横を３等分*/
  grid-template-rows: 1fr 1fr 1fr; /*縦を３当分*/
}

.switch {
  background-color: #444;
}
.left {
  border-radius: 15% 0 0 15%;
  padding: 15%;
}
.right {
  border-radius: 0 15% 15% 0;
  padding: 15%;
}
.up {
  border-radius: 15% 15% 0 0;
  padding: 15%;
}
.down {
  border-radius: 0 0 15% 15%;
  padding: 15%;
}

.upArrow {
  width: 100%;
  height: 100%;
  background-color: #757575;
  clip-path: polygon(50% 0, 100% 50%, 75% 50%, 75% 100%, 25% 100%, 25% 50%, 0 50%);
}

.downArrow {
  width: 100%;
  height: 100%;
  background-color: #757575;
  clip-path: polygon(50% 100%, 100% 50%, 75% 50%, 75% 0, 25% 0, 25% 50%, 0 50%);
}

.leftArrow {
  width: 100%;
  height: 100%;
  background-color: #757575;
  clip-path: polygon(0 50%, 50% 100%, 50% 75%, 100% 75%, 100% 25%, 50% 25%, 50% 0);
}

.rightArrow {
  width: 100%;
  height: 100%;
  background-color: #757575;
  clip-path: polygon(100% 50%, 50% 100%, 50% 75%, 0 75%, 0 25%, 50% 25%, 50% 0);
}

.center {
  margin: 20%;
  background-color: #757575;
  border-radius: 50%;
  width: 60%;
  height: 60%;
}

.select {
  border-radius: 50%;
  background-color: #757575;
  width: 20vh;
  height: 20vh;
}

.buttonA {
  padding-left: 30%;
}

.buttonB {
  padding-left: 5%;
}

.selectText {
  background-color: #757575;
  border-radius: 10px;
  text-align: center;
  font-size: 5vh;
  margin-bottom: 10%;
}

.footer {
  /* フォント色 */
  padding-top: 50%;
  color: rgb(139, 29, 29);
  font-size: 10%;
}
