.controller {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100svh;
}

.joystick > div {
  box-sizing: content-box;
  border: 0.4vmin solid #bbb;
  box-shadow: 0 0 2vmin 0 #9994, inset 0 0 0 1vmin #fff;
}

.joystick > div > button {
  outline: 0;
  box-shadow: 0 0 2vmin 0 #9994;
}

.button {
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  height: 32vmin;
  aspect-ratio: 1;
  overflow: hidden;
  font-size: 8vmin;
  background-color: #fff;
  border: 0;
  border: 0.2vmin solid #bbb;
  border-radius: 50%;
  box-shadow: 0 0 2vmin 0 #9994;
  transition: transform 0.1s ease;
}

.button:hover:active {
  transform: scale(0.9);
}

.button::before {
  position: absolute;
  top: 0;
  left: -50%;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #fff;
  transform-origin: right 50%;
}

.button::after {
  position: absolute;
  top: 0;
  right: -50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #f98;
  transform: rotate(180deg);
  transform-origin: left 50%;
}

.button:hover:active::before {
  animation: progress-left 0.8s linear infinite;
}

.button:hover:active::after {
  animation: progress-right 0.8s linear infinite;
}

.button > div {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2vmin);
  height: calc(100% - 2vmin);
  background-color: #eee;
  border-radius: 50%;
}

@keyframes progress-right {
  0% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-left {
  0% {
    transform: rotate(0deg);
  }

  50% {
    background-color: #fff;
    transform: rotate(0deg);
  }

  50.0001% {
    background-color: #f98;
    transform: rotate(180deg);
  }

  100% {
    background-color: #f98;
    transform: rotate(360deg);
  }
}
