.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100dvh;
  background-color: #111;
}

.button {
  height: 48px;
  border-radius: 8px;
  background-color: #131313;
  border: 3px solid #222;
  box-shadow: 0 0 0 1px #030303, 0 0 12px #0006;
  font-family: 'Jost', sans-serif;
  color: #ddd;
  font-size: 16px;
  transition-property: background-color, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.buttons {
  width: 64vmin;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  gap: 12px;
}

.button:hover {
  cursor: pointer;
  background-color: #333;
}

.button:active {
  transform: scale(0.9);
}

.title {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
  font-family: 'Jost', sans-serif;
  margin-bottom: 32px;
}

.title > h1 {
  font-size: 48px;
  font-weight: 400;
}

.title > h2 {
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  font-weight: 400;
}

.title > h2::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #eee;
  bottom: 50%;
  left: -24%;
}

.title > h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #eee;
  bottom: 50%;
  right: -24%;
}

.text {
  font-family: 'Jost', 'Zen Kaku Gothic New', sans-serif;
  color: #eee;
  font-size: 16px;
  margin-top: 16px;
}
