.container{
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin:0;
}
.button{
    display: flex;
    width:50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: solid 1px;  
}
.shoot{
    display: flex;
    width:50px;
    height:75px;
    justify-content: center;
    border-radius: 300px;
    align-items: center;
    border-top: 5px solid #fff;
    border-right: 5px solid #eee;
    border-left: 5px solid #ccc;
    border-bottom: 5px solid #bbb;
    margin: 50px;
}
.board{
    width:700px;
    height:0px;
    display: flex;
    flex-wrap: wrap;
}
.up{
    background-image: url('./images/direction.png');
    /* 画像の大きさによらずcoverする*/
    background-size:cover;
    background-position:57px ;
}
.left{
    background-image: url('./images/direction.png');
    /* 画像の大きさによらずcoverする*/
    background-size:cover;
    background-position:58px ;
    transform: rotate( -90deg );
}
.right{
    background-image: url('./images/direction.png');
    /* 画像の大きさによらずcoverする*/
    background-size:cover;
    background-position:56px ;
    transform: rotate( 90deg );
}
.down{
    background-image: url('./images/direction.png');
    /* 画像の大きさによらずcoverする*/
    background-size:cover;
    background-position:56px ;
    transform: rotate( 180deg );
}
.upperLeft{
    background-image: url('./images/direction.png');
    /* 画像の大きさによらずcoverする*/
    background-size:cover;
    background-position:58px ;
    transform: rotate( -45deg );
}
.upperRight{
    background-image: url('./images/direction.png');
    /* 画像の大きさによらずcoverする*/
    background-size:cover;
    background-position:58px ;
    transform: rotate( 45deg );
}
.lowerLeft{
    background-image: url('./images/direction.png');
    /* 画像の大きさによらずcoverする*/
    background-size:cover;
    background-position:58px ;
    transform: rotate( -135deg );
}
.lowerRight{
    background-image: url('./images/direction.png');
    /* 画像の大きさによらずcoverする*/
    background-size:cover;
    background-position:58px ;
    transform: rotate( 135deg );
}
