.controller {
  display: grid;
  grid-template-columns: 1fr 256px 1fr;
  height: 100dvh;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
  text-align: center;
  height: 100%;
}

.info {
  border: solid 2px #999;
  width: 60%;
  border-radius: 4px;
  padding: 3vmin 2vmin 2vmin;
  position: relative;
  margin-block: 2vmin;
}

.info > p {
  background-color: #eee;
  position: absolute;
  top: -3vmin;
  height: 4vmin;
  width: 50%;
  left: 25%;
  font-size: 3.6vmin;
}

.joystick {
  align-self: center;
  justify-self: center;
}

.shoot-button {
  height: 32vmin;
  aspect-ratio: 1;
  align-self: center;
  justify-self: center;
  border: 0;
  border-radius: 50%;
  font-size: 8vmin;
}
