.controller {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  align-items: center;
  height: 100dvh;
  background-color: #eee;
  font-family: 'Jost', 'Zen Kaku Gothic New', sans-serif;
}

.center {
  height: 36vmin;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'hp    hp'
    'score score'
    'enemy item';
  gap: 4vmin 2vmin;
}

.center-button {
  display: block;
  box-shadow: 0 0 2vmin 0 #9994, inset 0 0 0 0.6vmin #fff;
  border: 0.2vmin solid #bbb;
  background-color: #eee;
  border-radius: 1vmin;
  transition: transform 0.1s ease;
  font-size: 3vmin;
}

.center-button:active {
  transform: scale(0.9);
}

.hp {
  grid-area: hp;
}

.score {
  grid-area: score;
}

.enemy {
  grid-area: enemy;
}

.item {
  grid-area: item;
}

.info {
  border: solid 0.2vmin #999;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
  line-height: 9vmin;
  text-align: center;
  font-size: 3vmin;
}

.info > p {
  background-color: #eee;
  position: absolute;
  text-align: center;
  top: -2vmin;
  height: 3vmin;
  width: 50%;
  left: 25%;
  font-size: 3vmin;
  line-height: 1.2;
  font-weight: 600;
}

.joystick {
  align-self: center;
  justify-self: center;
}

.joystick > div {
  box-shadow: 0 0 2vmin 0 #9994, inset 0 0 0 1vmin #fff;
  border: 0.2vmin solid #bbb;
  background-color: #eee;
  box-sizing: content-box;
}

.joystick > div > button {
  box-shadow: 0 0 2vmin 0 #9994;
  background-color: #c9cace !important;
  outline: 0;
}

.shoot-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32vmin;
  aspect-ratio: 1;
  align-self: center;
  justify-self: center;
  border: 0;
  border-radius: 50%;
  font-size: 8vmin;
  box-shadow: 0 0 2vmin 0 #9994;
  border: 0.2vmin solid #bbb;
  background-color: #fff;
  transition: transform 0.1s ease;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
}

.shoot-button:active {
  transform: scale(0.9);
}

.shoot-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: right 50%;
  z-index: 2;
}

.shoot-button::after {
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  width: 100%;
  height: 100%;
  background-color: #f98;
  transform-origin: left 50%;
  transform: rotate(180deg);
  z-index: 1;
}

.shoot-button:active::before {
  animation: progress-left 0.6s linear infinite;
}

.shoot-button:active::after {
  animation: progress-right 0.6s linear infinite;
}

.shoot-button > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 2vmin);
  width: calc(100% - 2vmin);
  background-color: #eee;
  border-radius: 50%;
  position: relative;
  z-index: 3;
}

@keyframes progress-right {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-left {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
    background-color: #fff;
  }
  50.0001% {
    transform: rotate(180deg);
    background-color: #f98;
  }
  100% {
    transform: rotate(360deg);
    background-color: #f98;
  }
}
