.container {
  display: flex;
  height: 100dvh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #111;
  font-family: 'Jost', 'Zen Kaku Gothic New', sans-serif;
}

.card {
  width: min(84vw, 64dvh);
  aspect-ratio: 16 / 9;
  background-color: #131313;
  border-radius: 2vmin;
  backdrop-filter: blur(2vmin);
  box-shadow: 0 0 2vmin 0 #0006, inset 0 0 0 0.4vmin #222;
  border: 0.2vmin solid #030303;
  overflow: hidden;
  display: grid;
  grid-template-rows: 3vmin 36% 1fr 4fr 3fr 12% 5vmin;
  grid-template-columns: 3vmin 1fr 1fr 2fr 1fr 1fr 3vmin;
  grid-template-areas:
    '. .     .      .      .      .     .'
    '. title title  title  title  title .'
    '. .     .      .      .      .     .'
    '. .     config config config .     .'
    '. .     .      .      .      .     .'
    '. .     .      button .      .     .'
    '. .     .      .      .      .     .';
}

.title {
  grid-area: title;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
}

.title > h1 {
  height: 64%;
  margin: 0;
  font-weight: 400;
  font-size: min(8.7vw, 6.6dvh);
}

.title > h2 {
  height: 36%;
  margin: 0;
  font-weight: 400;
  font-size: min(2.3vmin, 1.7dvh);
  line-height: min(4.9vmin, 4.3dvh);
  letter-spacing: 0.4vmin;
  position: relative;
}

.title > h2::before {
  content: '';
  display: block;
  position: absolute;
  width: 10%;
  height: 0.16vmin;
  background-color: #eee;
  bottom: 50%;
  left: -24%;
}

.title > h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 10%;
  height: 0.16vmin;
  background-color: #eee;
  bottom: 50%;
  right: -24%;
}

.button {
  grid-area: button;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1vmin #000c;
  background-image: linear-gradient(45deg, #55ccee, #2244cc);
  border-radius: min(84vw / 16 * 9 * 0.12, 64dvh / 16 * 9 * 0.12);
  position: relative;
  color: #fff;
  font-size: min(2vw, 1.5dvh);
  text-shadow: 0 0 1vmin #0009;
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.2s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-position: 0 0;
}

.button > span {
  content: '';
  display: block;
  position: absolute;
  height: 76%;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 20px;
  border-radius: 50%;
  top: 12%;
  right: min(0.68vw, 0.52dvh);
}

.button > span::before {
  content: '';
  display: block;
  position: absolute;
  left: 26%;
  top: 42%;
  width: 48%;
  height: 16%;
  border-radius: 4vmin;
  background-color: #3c5bd6;
  transform-origin: 87.5% 50%;
  transform: rotate(45deg);
  transition: background-color 0.2s ease-in-out;
}

.button > span::after {
  content: '';
  display: block;
  position: absolute;
  left: 26%;
  top: 42%;
  width: 48%;
  height: 16%;
  border-radius: 16.7% / 50%;
  background-color: #3c5bd6;
  transform-origin: 87.5% 50%;
  transform: rotate(-45deg);
  transition: background-color 0.2s ease-in-out;
}

.button:hover > span::before,
.button:hover > span::after {
  background-color: #55bbdd;
}

.config {
  grid-area: config;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.config > input {
  flex-grow: 1;
  width: 100%;
  background-color: #fff1;
  color: #fff;
  border: solid 0.16vmin #eee;
  border-radius: 1vmin;
  margin-top: -1vmin;
  padding: 0.5vmin 1vmin;
  font-size: min(2.3vmin, 1.7dvh);
}

.config > input:focus {
  outline: none;
}

.config > input::-webkit-outer-spin-button,
.config > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.config > label {
  color: #eee;
  background-image: linear-gradient(to top, #fff1, #fff1 1vmin, #131313 1vmin, #131313);
  background-color: #131313;
  position: relative;
  z-index: 1;
  padding: 0 1vmin;
  font-size: min(1.8vw, 1.4dvh);
}

.icon-right {
  height: 72%;
  aspect-ratio: 1;
  position: absolute;
  bottom: -30%;
  right: calc(-30% / 16 * 9);
  animation: rotation 20s infinite linear;
}

.icon-left {
  height: 64%;
  aspect-ratio: 1;
  position: absolute;
  top: -24%;
  left: calc(-24% / 16 * 9);
  animation: rotation 30s infinite linear;
}

.icon-right > svg,
.icon-left > svg {
  height: 100%;
  width: 100%;
  fill: #222;
  font-size: large;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
